<p>Plans</p>
<div class="container">
    <div class="box">
        <img src="assets/set.png" alt="">
        <div class="plan-info">
            <p>10+1</p>
            <p>MONTHLY INSTALLMENT PLAN</p>
            <p>Pay 10 installments, get 100% 0ff on 11th Installment</p>
        </div>
    </div>
    <div class="parent-container">
        <div class="inner-box">
            <div class="section-one">
                <input type="text" name="" id="" placeholder="Enter Your Name">
                <input type="text" name="" id="" placeholder="Enter Your Name">
                <div class="buttons">
                    <button routerLink="../ten-plus-schema">My Plan</button>
                    <button routerLink="../ten-plus-schema">Start Now</button>
                </div>
            </div>
        </div>
        <div class="inner-box">
            <p id="heading">Calculate Your Monthly Installment</p>
            <label for="">Monthly Installment</label>
            <input type="text" name="" id="" placeholder="3000">
            <div class="buttons">
                <button routerLink="../ten-plus-schema">Check</button>
            </div>
        </div>
    </div>
</div>

