<div class="container">
    <div class="parent-container">
        <div class="profile">
            <img src="{{img}}" alt="">
            <div class="details">
                <p>{{name}}</p>
                <p>{{email}}</p>
                <p>{{Id}}</p>
            </div>
        </div>
        <div class="wallet">
            <p class="">Wallet: <span class="uk-alert-success">{{wallet}}</span></p>
        </div>
    </div>
    <div class="actions">
        <p>NO. of Purchase: <span class="purchase">{{purchase}}</span></p>
            <div class="icons">
                <p><i class="fa-solid fa-user-pen"></i></p>
                        <p><i class="fa-solid fa-user-xmark"></i></p>
                        <p><i class="fa-solid fa-user"></i></p>
                        <p><i class="fa-solid fa-phone"></i></p>
            </div>
    </div>
</div>
