<!-- <div class="main-container">
  <div class="section1">
    <div class="pic">
      <img src="/assets/Ellipse 135.jpg" alt="" />
    </div>
    <div class="name">
      <p>Travis Scott <i class="fa-solid fa-pencil"></i></p>
    </div>
  </div>

  <form [formGroup]="addProfileForm"> -->






    <!-- <div class="section1">
      <div class="input-fields">
        <span> First Name: </span>
        <input
          type="text"
          formControlName="firstName"
          *ngIf="profileeditmode"
        />
        <p *ngIf="!profileeditmode">Travis</p>
      </div>

      <div class="input-fields">
        <label> Last Name: </label>
        <input type="text" formControlName="lastName" *ngIf="profileeditmode" />
        <p *ngIf="!profileeditmode">Scott</p>
      </div>
    </div>

    <div class="section2">
      <div class="input-fields">
        <label> Address: </label>
        <input type="text" *ngIf="profileeditmode" />
        <p *ngIf="!profileeditmode">New Delhi</p>
      </div>
    </div>

    <div class="section3">
      <div class="input-fields">
        <label> Email Address: </label>
        <input type="email" *ngIf="profileeditmode" />
        <p *ngIf="!profileeditmode">travisscott69@gmail.cm</p>
      </div>
      <div class="input-fields">
        <label> Phone Number: </label>
        <input type="number" *ngIf="profileeditmode" />
        <p *ngIf="!profileeditmode">9669958698</p>
      </div>
    </div>

    <div class="section4">
      <div class="input-fields">
        <label> Country: </label>
        <input type="text" *ngIf="profileeditmode" />
        <p *ngIf="!profileeditmode">India</p>
      </div>

      <div class="input-fields">
        <label> State: </label>
        <input type="text" *ngIf="profileeditmode" />
        <p *ngIf="!profileeditmode">Delhi</p>
      </div>
    </div>

    <div class="section5">
      <div class="input-fields">
        <label> City: </label>
        <input type="text" *ngIf="profileeditmode" />
        <p *ngIf="!profileeditmode">New Delhi</p>
      </div>
    </div> -->










<!-- <div class="sec1">
 
  <div class="col">
      <label class="small mb-1" for="inputFirstName">First name</label>
      <input class="form-c" id="inputFirstName" type="text" >
  </div>
  
  <div class="col">
      <label class="small mb-1" for="inputLastName">Last name</label>
      <input class="form-c" id="inputLastName" type="text" >
  </div>
</div>

<div class="sec2">
 
  <div class="col">
      <label class="small mb-1" for="inputOrgName">Address</label>
      <input class="form-c form-c1"  type="text" >
  </div>
</div>
 
<div class="sec3">
  <div class="col">
      <label class="small mb-1" for="inputLocation">Email Address</label>
      <input class="form-c"  type="email" >
  </div>


<div class="col">
  <label class="small mb-1" for="inputEmailAddress">Phone Number</label>
  <input class="form-c"  type="number" >
</div>
</div>

<div class="sec4">
  
  <div class="col">
      <label class="small mb-1" for="inputPhone">Country</label>
      <input class="form-c"  type="text" >
  </div>
  
  <div class="col">
      <label class="small mb-1" for="inputBirthday">State</label>
      <input class="form-c" type="text" >
  </div>
</div>
<div class="sec5">
  <div class="col">
      <label class="small mb-1" for="inputBirthday">City</label>
      <input class="form-c form-c1"  type="text" >
  </div>
</div>


    <button (click)="profileeditmode = !profileeditmode" class="btn">
      {{ profileeditmode ? "Update" : "Edit" }}
    </button>
    <button class="btn">Cancel</button>
  </form>
</div> -->
