<div class="container">
    <div class="parent-container">
        <div class="image">
            <img src="assets/small-ring.png" alt="">
            <div class="name">
                <p>{{jewel_Name}}</p>
                <p>{{status}}</p>
            </div>
        </div>
        <div class="name-price">
            <div class="price">
                <p>{{price}}</p>
            </div>
        </div>
    </div>
    <div class="quantity-and-buttons">
        <div class="quantity">
            <input type="number" value="1">
        </div>
        <div class="buttons">
            <button><span uk-icon="heart"></span>  Wish List</button>
            <button>Delete</button>
        </div>
    </div>
</div>
