<div class="container">
    <div class="text">
        <p id="heading">Add Delivery Address</p>
        <hr id="hr">
        <p id="small">Enter your shipping address</p>
    </div>
    <div class="parent-container">
        <div class="section-one">
            <input type="text" placeholder="Full Name">
            <div class="uk-flex">
                <input type="text" placeholder="Phone No.">
                <input type="text" placeholder="Pin">
            </div>
            <div class="uk-flex">
                <input type="text" placeholder="State">
                <input type="text" placeholder="City">
            </div>
            <input type="text" placeholder="House No.">
            <input type="text" placeholder="Area, Colony, Road name" class="mart">
            <div class="uk-flex">
                <button>Use My Location <i class="fa-solid fa-location-dot"></i></button>
                <button routerLink="../payment-options">Next</button>
            </div>
            <div class="mobile-view">
                <p id="heading">Estimated Time</p>
                <app-mobile-address-product-widget></app-mobile-address-product-widget>
                <button routerLink="../payment-options">Proceed To payment</button>
            </div>
        </div>
        <div class="section-second">
            <img src="assets/address.png" alt="">
        </div>
    </div>
</div>