
<div class="container">
  <div class="section1">
    <div class="box">
      <p>Wallet</p>
      <img src="assets/11.jpg" alt="" />
    </div>
    <div class="box">
      <p>Balance</p>
      <p>₹2000</p>
    </div>
    <div class="box">
      <p>Spent</p>
      <p>₹2000</p>
    </div>
    <p id="pay">Payment Method</p>
    <div class="widgets">
      <app-payment-option-widget></app-payment-option-widget>
      <br />
      <app-payment-option-widget></app-payment-option-widget>
      <br />
      <app-payment-option-widget></app-payment-option-widget>
      <br />
    </div>
  </div>
  <div class="section2">
    <p>History</p>
    <div class="table">
      <table>
        <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Payment Date</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>#99H33G</td>
          <td>₹ 2,000</td>
          <td>22-11-2021</td>
          <td>2nd installment</td>
          <td>Pending</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="mobile_wallet">
  <p>Wallet</p>
  <div class="card">
    <div class="card_header">
      <img src="assets/11.jpg" alt="" />
      <h4>Pablo Escobar
        <b>narcos@gmail.com</b>
      </h4>
    </div>
    <div class="balance">
      <p>Balance</p>
      <p style="color: red;">₹20,000</p>
    </div>
    <div  class="balance">
      <p>Spent</p>
      <p style="color: rgb(21, 177, 34);">₹ 2,300,00</p>
    </div>
  </div>
  <p>Payment Mode</p>
  <div class="paymnet_mode">
    <app-payment-option-widget></app-payment-option-widget>

    <app-payment-option-widget></app-payment-option-widget>

    <app-payment-option-widget></app-payment-option-widget>

    <app-payment-option-widget></app-payment-option-widget>

  </div>
  <p>History</p>
  <div class="history">
    <div class="table1">
      <h4>Nov, 22, 2021</h4>
      <h4>ID #99H33G</h4>
    </div>
    <div class="table2">
      <h4>₹ 3,000  Your 9th installment</h4>
      <b>Credited</b>
    </div>
  </div>
  <div class="history">
    <div class="table1">
      <h4>Nov, 22, 2021</h4>
      <h4>ID #99H33G</h4>
    </div>
    <div class="table2">
      <h4>₹ 3,000  Your 9th installment</h4>
      <b *ngIf="false">Credited</b>
      <button *ngIf="true">Pay Now</button>
    </div>
  </div>
  <div class="history">
    <div class="table1">
      <h4>Nov, 22, 2021</h4>
      <h4>ID #99H33G</h4>
    </div>
    <div class="table2">
      <h4>₹ 3,000  Your 9th installment</h4>
      <b>Credited</b>
    </div>
  </div>
  <div class="history">
    <div class="table1">
      <h4>Nov, 22, 2021</h4>
      <h4>ID #99H33G</h4>
    </div>
    <div class="table2">
      <h4>₹ 3,000  Your 9th installment</h4>
      <b *ngIf="false">Credited</b>
      <button *ngIf="true">Pay Now</button>
    </div>
  </div>
  <div class="history">
    <div class="table1">
      <h4>Nov, 22, 2021</h4>
      <h4>ID #99H33G</h4>
    </div>
    <div class="table2">
      <h4>₹ 3,000  Your 9th installment</h4>
      <b style="color: rgb(62, 172, 62);">Credited</b>
    </div>
  </div>
  <div class="history">
    <div class="table1">
      <h4>Nov, 22, 2021</h4>
      <h4>ID #99H33G</h4>
    </div>
    <div class="table2">
      <h4>₹ 3,000  Your 9th installment</h4>
      <b *ngIf="false">Credited</b>
      <button *ngIf="true">Pay Now</button>
    </div>
  </div>
</div>
<app-footer></app-footer>