
<div class="container">
    <p id="heading">Privacy Policy</p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla cum, beatae odio explicabo recusandae ullam non quaerat eius neque qui, consectetur ab est distinctio doloremque sequi veritatis tenetur atque aliquam earum blanditiis exercitationem quis. Quisquam inventore voluptates facere perferendis asperiores ex debitis reprehenderit, dignissimos praesentium enim minima tenetur, aut facilis autem ad cum? Tempore debitis itaque magnam at.
</div>
<app-footer></app-footer>