<footer class="container-fluid">
  <div class="list_logo_container">
  <!-- div 1  -->
    <div class="all_list_container">
      <section class="list_container">
        <div class="list">
          <h5>ABOUT US
          </h5>
          <p>Who we are? <br>
            Management Team <br>
            Careers <br>
            Franchise Enquiry</p>
        </div>
        <div class="list">
          <h5>CUSTOMER DELIGHT
          </h5>
          <p>
            Contact Us <br>
            FAQ <br>
            1800-419-0066 <br>
            (9am - 10pm, 7 days/week) <br>
          </p>
        </div>
      </section>
      <section class="list_container">
        <div class="list">
          <h5>POLICIES
          </h5>
          <p>
            30-Day Returns <br>
            Lifetime Exchange & Buy Back <br>
            Privacy Policy <br>
            Terms & Conditions <br>
          </p>
        </div>
        <div class="list">
          <h5>SHOP WITH CONFIDENCE
          </h5>
          <p>
            Why Buy From Us? <br>
            Our Certifications <br>
            Press Room <br>
            Testimonials <br>
          </p>
        </div>
      </section>
      <section class="list_container">
        <div class="list">
          <h5>JEWELLERY GUIDE
          </h5>
          <p>
            Buying & Price Guide <br>
            Certification Guide <br>
            Gifting Guide <br>
            Jewellery Care Guide <br>
          </p>
        </div>
        <div class="list">
          <h5>DOWNLOAD OUR APP 
          </h5>
          <p>
            Coming Soon...
          </p>
        </div>
      </section>
    </div>
    <!-- div 2 -->
    <div class="logo">
      <img src="assets/phone.png" alt="">
    </div>
  </div>
  <hr>
  <section class="subscribe_social">
    <div class="subscribe">
      <i class="ri-mail-line"></i>
      <span>Enter Your Email To Get 10% Off On Your First Order</span>
    </div>
    <div class="social_links">
      <i class="fa-brands fa-facebook "></i>
      <i class="fa-brands fa-instagram "></i>
      <i class="fa-brands fa-google "></i>
      <i class="fa-brands fa-instagram "></i>
    </div>
    <div id="bottom" class="copyright">&copy; Nyaasa Jewellers, 2022</div>

  </section>


</footer>