
<section class="popupBox">
  <div class="closeBtnBox">
    <img src="../../../../assets/CART/close button.png" alt="" class="closeBtn" (click)="onClose()">
  </div>
  <div class="container">
    <img src="../../../../assets/CART/Groups.svg" alt="" class="locationImg">
     <h2>Enter Your Pincode to browse better</h2>
     <p class="darkText">Get Fastest Delivery Dates Possible, Check Appointment for Trail at Home.</p>
     <div class="locationBox">
      <img src="../../../../assets/CART/Group 1000002825.svg" alt="" class="pinImg">

      <input type="text" placeholder="Enter pincode">

        <div>
          <img src="../../../../assets/CART/arrow.png" alt="" class="arrow">
        </div>

     </div>

     <p class="pinkText">Use Your Current Location</p>
  </div>
  </section>
