<app-header title="Product Review"></app-header>
<div class="container">
   
    <div class="parent-container">
        <div class="reviews">
            <app-review-widget></app-review-widget>
            <app-review-widget></app-review-widget>
            <app-review-widget></app-review-widget>
        </div>
        <div class="customer-review-chart">
            <p id="heading">Customer Review</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <p id="bottom">527 global ratings</p>
            <div class="progress-bars">
                <p>5 Star</p>
                <div class="progress uk-progress">
                    <progress id="js-progressbar" class="uk-progress" value="40" max="100"></progress>
                </div>
                <p>48%</p>
            </div>
            <div class="progress-bars">
                <p>5 Star</p>
                <div class="progress uk-progress">
                    <progress id="js-progressbar" class="uk-progress" value="40" max="100"></progress>
                </div>
                <p>48%</p>
            </div>
            <div class="progress-bars">
                <p>5 Star</p>
                <div class="progress uk-progress">
                    <progress id="js-progressbar" class="uk-progress" value="40" max="100"></progress>
                </div>
                <p>48%</p>
            </div>
            <div class="progress-bars">
                <p>5 Star</p>
                <div class="progress uk-progress">
                    <progress id="js-progressbar" class="uk-progress" value="40" max="100"></progress>
                </div>
                <p>48%</p>
            </div>
            <p id="heading">By Feature</p>
            <div class="quality">
                <p>Quality</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>4.3%</p>
            </div>
            <div class="quality">
                <p>Quality</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>4.3%</p>
            </div>
            <div class="quality">
                <p>Quality</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>4.3%</p>
            </div>
            <div class="quality">
                <p>Quality</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>4.3%</p>
            </div>
            <div class="quality">
                <p>Quality</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>4.3%</p>
            </div>
        </div>
    </div>
</div>