
<section>
  <div class="container">
    <div class="image">
      <img src="assets/set.png" alt="" />
    </div>
    <div class="box">
      <p>10+1</p>
      <hr />
      <h5>MONTHLY INSTALLMENTS PLAN</h5>
      <div class="plan-info">
        <h6>Pay 10 installments, get 100% 0ff on 11th Installment</h6>
        <div class="discount" >
          <p>You are eligible for additional 
           <b> 50% DISCOUNT</b>
            On your first installment</p>
        </div>
        <div class="input">
          <input type="text" name="" id="" placeholder="Enter Amount" />

          <input type="text" name="" id="" placeholder="Enter Email Address" />
        </div>
        <button routerLink="../ten-plus-schema">Start Now</button>
      </div>
    </div>
  </div>

  <div class="working">
    <p>How It Works</p>
    <div class="schema">
      <img src="assets/10+1 Schema.svg" alt="" />
   
    </div>
    <div class="schema-mobile">
      <img src="../../../assets/10+1 SchemaMobile.svg" alt="">
    </div>
    <div class="avilability">
      Can be redeemed from 6th month onwards .Refer calculator below for details
    </div>
  </div>
  <div class="callculate">
    <div class="choose">
      <p>calculate</p>
      <p>Monthly Amount</p>
      <input type="text" placeholder="Enter Amount" />
      <button>Check</button>
    </div>
 
      <table class="card">
        <tr style=" width: 70%">
          <th>Total payment <span>(Period of months)</span></th>
          <th>
            100% Discount on 11 th instalment
            <span>(1month Instalment value)</span>
          </th>
          <th>Buy any jewellery worth <span>(After 1 month)</span></th>
          <th style="font-weight: bold; color:black">You effectively pay<span>(discount)</span></th>
        </tr>
        <tr style=" width: 30%">
          <td>₹ 8,500</td>
          <td>₹ 28,500</td>
          <td style="color: rgb(62, 230, 62);">₹ 2,500</td>
          <td style="font-weight: bold; color:black">₹ 28,500</td>
        </tr>
      </table>
    </div>
 
</section>
<app-footer></app-footer>
