<div class="container">
    <div class="parent">
        <div class="profile">
            <img src="{{src}}" alt="">
            <div class="details">
                <p>{{product_Name}}</p>
                <p>{{product_Id}}</p>
                <p>{{product_price}}</p>
            </div>
        </div>
        <div class="sold-return">
            <p>Sold: {{sold}}</p>
            <p>Returned: {{return}}</p>
        </div>
    </div>
    <div class="second-parent">
        <p class="material">{{material}}</p>
        <p class="quanity">{{weight}}</p>
        <button>More Info</button>
    </div>
</div>
