<div class="container-fluid">
  <div class="header">

    
    <div class="uk-margin">
      <form class="uk-search uk-search-default">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Search" />
      </form>
      <i class="fa-solid fa-bell" id="bell"></i>
    </div>
    <div class="links">
      <button><i class="fa-solid fa-tags"></i>Manage Categories</button>
      <button><i class="fa-solid fa-toggle-on"></i>Pretty View</button>
      <!-- <button *ngIf="path==='/admin/products'"><i class="fa-solid fa-plus"></i>Add Products</button> -->
      <button *ngIf="path === '/admin/offers'" uk-toggle="target: #add-offers-modal">
        <i class="fa-solid fa-plus"></i>Add Offers
      </button>

      <button *ngIf="path === '/admin/products'" uk-toggle="target: #add-product-modal">
        <i class="fa-solid fa-plus"></i>Add Products
      </button>

      <button class=" ">
        <i class="fa-solid fa-bars"></i> View By
      </button>
      <div uk-dropdown="mode: click">
        <ul>
          <li (click)="emitButtonAction('viewAsCard')">Table</li>
          <li (click)="emitButtonAction('viewAsCard')">Card</li>
        </ul>
      </div>
    </div>

  </div>

</div>