
<div class="lt-container">
    <div class="m-container">
    <p class="p-heading">Last Transaction</p>
    <div class="roww1">
        <p>{{date}}</p>
        <p>{{id}}</p>
    </div>
    <div class="roww2">
        <p>{{amnt}}</p>
        <p class="c-txt">Topup</p>
    </div>
    <div class="row3"></div>
    <div class="roww1">
        <p>{{date}}</p>
        <p>{{id}}</p>
    </div>
    <div class="roww2">
        <p>{{amnt}}</p>
        <p class="c-txt">Topup</p>
    </div>
    <div class="row3"></div>
    <div class="roww1">
        <p>{{date}}</p>
        <p>{{id}}</p>
    </div>
    <div class="roww2">
        <p>{{amnt}}</p>
        <p class="c-txt">Topup</p>
    </div>
    <div class="row3"></div>
    <div class="roww1">
        <p>{{date}}</p>
        <p>{{id}}</p>
    </div>
    <div class="roww2">
        <p>{{amnt}}</p>
        <p class="c-txt">Topup</p>
    </div>
    <div class="row3"></div>
    <div class="roww1">
        <p>{{date}}</p>
        <p>{{id}}</p>
    </div>
    <div class="roww2">
        <p>{{amnt}}</p>
        <p class="c-txt">Topup</p>
    </div>
    <div class="row3"></div>
</div>
</div>
