<section>
  <h2 class="heading">Products Details</h2>

  <div class="product_details">
    <div class="product">
      <div class="product_img">
        <img src="../../../../assets/jewel3.png" alt="" />
        <div class="product_name">
          Diamond Ring
        </div>
      </div>
      <div class="description">
        <span>
          <p>Details</p>
          <div class="stock">
            stock
            <div class="id">1221</div>
          </div>
        </span>
        <div class="product_decription">
          <ul>
            <li>Height :</li>
            <li>Metal :</li>
            <li>Weight (Approx) :</li>
            <li>Product ID :</li>
          </ul>
          <ul >
            <li> <b>20.4 mm</b></li>
            <li> <b>18 KT Rose gold</b></li>
            <li> <b>5.76 gram</b></li>
            <li> <b>15464-FDS1</b></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="description_mobile">
      <span>
        <p>Details</p>
        <div class="stock">
          stock
          <div class="id">1221</div>
        </div>
      </span>
      <div class="product_decription">
        <ul>
          <li>Height :</li>
          <li>Metal :</li>
          <li>Weight (Approx) :</li>
          <li>Product ID :</li>
        </ul>
        <ul >
          <li> <b>20.4 mm</b></li>
          <li> <b>18 KT Rose gold</b></li>
          <li> <b>5.76 gram</b></li>
          <li> <b>15464-FDS1</b></li>
        </ul>
      </div>
    </div>

    <div class="reviews">
      <div class="review_header">Recent Review</div>
      <div class="review">
        <div class="revie_img">
          <img src="../../../../assets/11.jpg" alt="">
          <img src="../../../../assets/11.jpg" alt="">
        </div>
    
        <div class="review_detials">
          <div class="person">
            <img src="../../../../assets/11.jpg" alt="">
          </div>
          <span>
            <b>John Doe</b>
            <div class="stars">
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
            </div>
          
          </span>
        </div>
        <div class="persons_review">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, cupiditate?</p>
           <h6>John87</h6>
        </div>
        <span class="persons_reaction"> 
          <i class="ri-heart-fill"></i>
          <i class="ri-delete-bin-5-line"></i>
        </span>
      </div>
      <div class="review">
        <div class="revie_img">
          <img src="../../../../assets/11.jpg" alt="">
          <img src="../../../../assets/11.jpg" alt="">
        </div>
    
        <div class="review_detials">
          <div class="person">
            <img src="../../../../assets/11.jpg" alt="">
          </div>
          <span>
            <b>John Doe</b>
            <div class="stars">
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
            </div>
          
          </span>
        </div>
        <div class="persons_review">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, cupiditate?</p>
           <h6>John87</h6>
        </div>
        <span class="persons_reaction"> 
          <i class="ri-heart-fill"></i>
          <i class="ri-delete-bin-5-line"></i>
        </span>
      </div>
      <div class="review">
        <div class="revie_img">
          <img src="../../../../assets/11.jpg" alt="">
          <img src="../../../../assets/11.jpg" alt="">
        </div>
    
        <div class="review_detials">
          <div class="person">
            <img src="../../../../assets/11.jpg" alt="">
          </div>
          <span>
            <b>John Doe</b>
            <div class="stars">
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
            </div>
          
          </span>
        </div>
        <div class="persons_review">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, cupiditate?</p>
           <h6>John87</h6>
        </div>
        <span class="persons_reaction"> 
          <i class="ri-heart-fill"></i>
          <i class="ri-delete-bin-5-line"></i>
        </span>
      </div>
      <div class="review">
        <div class="revie_img">
          <img src="../../../../assets/11.jpg" alt="">
          <img src="../../../../assets/11.jpg" alt="">
        </div>
    
        <div class="review_detials">
          <div class="person">
            <img src="../../../../assets/11.jpg" alt="">
          </div>
          <span>
            <b>John Doe</b>
            <div class="stars">
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
              <div class="star"><i class="ri-star-fill"></i></div>
            </div>
          
          </span>
        </div>
        <div class="persons_review">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, cupiditate?</p>
           <h6>John87</h6>
        </div>
        <span class="persons_reaction"> 
          <i class="ri-heart-fill"></i>
          <i class="ri-delete-bin-5-line"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="graph">
   
    <canvas id="line" ></canvas>
  </div>
</section>
