<section>
    <div class="signup_details">
        <div class="container">
            <img src="assets/logo.svg" alt="">
            <p id="head">Naaysa</p>
        </div>
        <div class="mobile-img">
          <div class="mob-logo">
            <img class="m-logo" src="assets/logo.svg" alt="">
            <p class="m-logot" id="head">Naaysa</p>
          </div>
          <img class="m-img2" src="../../../assets/blog3.png" />
        </div>
      <form>
        <b>Sign Up</b>
        <div class="input_conatiner">
          <label>Email</label>
          <input type="email" formControlName="email" placeholder="username@host.com" />
        </div>
        <div class="input_conatiner">
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Password" />
        </div>
        <div class="input_conatiner">
          <label>Confirm Password</label>
          <input type="password" formControlName="password" placeholder="Password" />
        </div>
        <div class="authentication">
          <button type="submit" routerLink="/">Sign Up</button>
        </div>
        <button id="normal">
            <i class="fa-brands fa-google"></i>
            Continue With Google
        </button>
      </form>
    </div>
    <img src="../../../assets/blog3.png" id="mobile-imgg"/>
</section>