<div class="container">
  <div class="section-one">

      <div class="inputBox">
        <input type="radio" name="address-mode" >
        <h1 class="Recipientname">{{name}} {{last_name}}</h1>
      </div>

       <div class="addressButton">{{address_type}}</div>
       <div class="btns" routerLink="../add-delivery-address"><p class="editbtn">Edit  </p>
         <p class="editbtn">&VerticalBar;</p>
        <p class="editbtn" routerLink="../add-delivery-address"> Remove</p>
      </div>
    </div>
    <p class="recipientAddress">{{address}}</p>
    <p class="recipientNumber">Phone: {{phone}}</p>
    </div>


