.container{
    margin: 25px;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
    15px 25px 10px rgba(0,0,0,0.05),
    15px 20px 20px rgba(0,0,0,0.05),
    inset -10px -10px 15px rgba(255,255,255,0.9);
    border: 2px solid var(--color-dark-primary);
    padding: 15px;
    border-radius: 15px;
    #heading{
        color: var(--color-dark-primary);
        font-size: var(--xlarge);
        text-align: center;
        margin: 20px 0px ;
        font-weight: 500;
    }
}