<div class="feedback">
    <div class="top">
      <img src="../../../assets/jewel3.png" alt="" />
      <h4>
        Movable Round Gold Necklace
        <span>
          <p>John carter</p>
          <div class="stars">
            <div class="star active"><i class="ri-star-s-fill"></i></div>
            <div class="star active"><i class="ri-star-s-fill"></i></div>
            <div class="star"><i class="ri-star-s-fill"></i></div>
            <div class="star"><i class="ri-star-s-fill"></i></div>
            <div class="star"><i class="ri-star-s-fill"></i></div>
          </div>
        </span>
      </h4>
    </div>
    <div class="middle">
      
        Lorem ipsum dolor sit ametelit. Sed, sequi harum. Totam ut facere voluptas nemo similique! Officiis sapiente vitae officia asperiores modi reiciendis incidunt corrupti, aliquam obcaecati aut! Animi!
    
    </div>
    <div class="lower">
      <div class="buttons">
        <button class="delete">
          <i class="fa-solid fa-trash"></i>
          delete
        </button>

        <button class="info">
          <i class="ri-information-fill"></i>
          Info
        </button>
      </div>
      <p>-Posted on Jun 17, 2022</p>
    </div>
  </div>