

<div class="main-card" >

  <div class="section1">
    <div class="sec1">
    <span>Movable Round Gold Necklace</span>
  </div>

  <div class="sec2"style="background-color: red;" >
    <img class="ring-img" src="/assets/jewellery/goldRing.svg" alt="Ring image">
  </div>

  <div class="sec3">
    <p>₹ 5,00,000</p>
    <span>250 piece</span>
  </div>
  <div class="sec4">
    <p>This 18 karat rosegold ring feature 1 diamond between two dis-jointed stone studed arcs.</p>
  </div>
<div class="sec5">
  <span>Metal: </span>
  <p> 10k, 14k, 18k, 22k and 24k.</p>
<br>
  <span>Weight: </span>
  <p>2 grams, 4 grams</p>
<br>
  <span>Colour: </span>
  <p>Yellow, White</p>
<br>
  <span>size:</span>
  <p>4, 6, 7, 8, 10, 11</p>
</div>


<div class="sec6">
  <button><i class="fa-solid fa-pencil" ></i> Edit</button>
</div>

<div class="sec7">
  <button class="btn1"  routerLink="../detail">Disable</button>
  <button class="btn2">Delete</button>
</div>
  </div>

  
</div>

