<div class="container">
    <p>659 ratings and 120 reviews</p>
    <div class="parent-container">
        <div class="left-side">
            <div class="img-and-name">
                <div class="pic-and-review">
                    <img src="assets/2.jpeg" alt="">
                    <div class="details">
                        <p id="name">Anjali Satpathi</p>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="like">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <p>65</p>
                            |
                            <i class="fa-solid fa-comment"></i>
                            <p>5</p>
                        </div>
                    </div>
                </div>
                <div class="reviews">
                    <p>“She loved it... same as show in the picture..! Thank you”</p>
                    <p>-Posted on Jun 17, 2022</p>
                </div>
            </div>
            <div class="images">
                <img src="assets/blog1.png" alt="">
                <img src="assets/blog2.png" alt="">
            </div>
        </div>
    </div>
</div>