<app-header title="Feedback"></app-header>

<section id="Desktop_view">
  <mat-tab-group>
    <mat-tab label="Pending feedback">
      <li class="tabs">
        <table>
          <tr>
            <th style="width: 15%">Product</th>
            <th style="width: 20%">User name</th>
            <th style="width: 30%">Review</th>
            <th style="width: 20%">Rating</th>
            <th style="width: 20%">Action</th>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill active"></i>
              <i class="ri-star-fill active"></i>
              <i class="ri-star-fill active"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill active"></i>
              <i class="ri-star-fill active"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
        </table>
      </li>
    </mat-tab>
    <mat-tab label="Ongoing">
      <li class="tabs">
        <table>
          <tr>
            <th style="width: 15%">Product</th>
            <th style="width: 20%">User name</th>
            <th style="width: 30%">Review</th>
            <th style="width: 20%">Rating</th>
            <th style="width: 20%">Action</th>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/ring2.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel4.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel4.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel4.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
        </table>
      </li>
    </mat-tab>
    <mat-tab label="Resolved">
      <li class="tabs">
        <table>
          <tr>
            <th style="width: 15%">Product</th>
            <th style="width: 20%">User name</th>
            <th style="width: 30%">Review</th>
            <th style="width: 20%">Rating</th>
            <th style="width: 20%">Action</th>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/ring2.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel3.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
        </table>
      </li>
    </mat-tab>
    <mat-tab label="Unresolved">
      <li class="tabs">
        <table>
          <tr>
            <th style="width: 15%">Product</th>
            <th style="width: 20%">User name</th>
            <th style="width: 30%">Review</th>
            <th style="width: 20%">Rating</th>
            <th style="width: 20%">Action</th>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/ring2.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel4.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel4.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../../assets/jewel4.png"
                alt=""
                style="width: 50px; height: 50px"
              />
            </td>
            <td><p>Customer</p></td>
            <td class="review">
              Lorem ipsum dolor cere at, debitis illum perspiciatis, ad voluptas
              culpa ab amet sequi.
            </td>
            <td class="ratings">
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </td>
            <td>
              <button class="delete">
                <i class="fa-solid fa-trash"></i>
                delete
              </button>

              <button class="info">
                <i class="fa-solid fa-circle-info"></i>
                info
              </button>
            </td>
          </tr>
        </table>
      </li>
    </mat-tab>
  </mat-tab-group>
</section>
<section id="mobile_view">
  <app-feedback-widgets></app-feedback-widgets>
  <app-feedback-widgets></app-feedback-widgets>
  <app-feedback-widgets></app-feedback-widgets>
</section>
