
<section>

<div class="conatiner">
    <div class="img">
        <img src="/assets/vr-product.svg" alt="">
    </div>
    <div class="try_on_me">
        <h1>Try On Me</h1>
        <ul>
            <li>
                A plain background behind you is easy for our algorithm</li>
            <li>
                A plain background behind you is easy for our algorithm</li>
            <li>
                A plain background behind you is easy for our algorithm</li>
        </ul>
        <button>Try On Me</button>
    </div>
</div>


</section>
<app-footer></app-footer>