<section class="itemDescription">
  <div class="itemDescriptionGrid">
    <div class="itemDescriptionBox1">
      <ul uk-tab>
        <li><a href="#">Description</a></li>
        <li><a href="#">Details</a></li>

      </ul>

      <ul class="uk-switcher uk-margin">
        <li>
          <p class="descriptionText1">Meet the earring set you didn't know you needed... until now. We're obsessed with
            this combo,aren't you? Featuring two best-selling earrings,
            this effortless and unique earring stack isguaranteed to elevate your everyday.</p>

          <p class="descriptionText2">Also Available</p>
          <div class="availableItems">
            <div><img src="../../../assets/product-page/Ellipse 3909.png" alt="Gold">
              <p>Gold</p>
            </div>
            <div><img src="../../../assets/product-page/Ellipse 3910.png" alt="Silver">
              <p>Silver</p>
            </div>
          </div>
          <div class="badges">
            <p><img src="../../../assets/product-page/fluent_archive-arrow-back-16-regular.svg" alt=""
                class="badgesImg">30 -Day Money Back</p>
            <p>
              <img src="../../../assets/product-page/uil_exchange.svg" alt="" class="badgesImg">Lifetime Exchange &
              Buy-Back
            </p>
            <p>
              <img src="../../../assets/product-page/Mask group.png" alt="" class="badgesImg">
              100% Naaysa Certified
            </p>
          </div>

        </li>


        <li class="detailBox">
          <h2 class="subHeading">Product Details</h2>
          <p class="subText">Diamond Ring 18Kt Gold(5.68 gram) with Diamond(0.4130 Ct)</p>
          <div class="productDetail">
            <div>
              <img src="../../../assets/product-page/Purity.png" alt="" class="detailImg">
              <h3>Purity</h3>
              <h5>18 KT</h5>
            </div>
            <div>
              <img src="../../../assets/product-page/dimensions (2).png" alt="" class="detailImg">
              <h3>Dimensions</h3>
              <h5>Width - 5 mm</h5>
              <h5>Height - 5.5 mm</h5>
              <h5>Size - 12(51.8 mm)</h5>
            </div>
            <div>
              <img src="../../../assets/product-page/weight (2).png" alt="" class="detailImg">
              <h3>Weight</h3>
              <h5>Gross - 2.40 g</h5>
            </div>
          </div>

          <!-- Table -->
          <section class="diamondSection">
            <div class="diamondGermsBox">
              <img src="../../../../assets/product-page/diamond & gemstones.png" alt="" class="diamondImg">
              <h3>Diamond & Germstones</h3>
            </div>
            <table class="uk-table">

              <thead>
                <tr>
                  <th class="tableHeading">Diamond Type</th>
                  <th class="tableHeading">Setting</th>
                  <th class="tableHeading">Total Number</th>
                  <th class="tableHeading">Total Weight</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tableSubText">IJ-SI</td>
                  <td class="tableSubText">Prong</td>
                  <td class="tableSubText">2</td>
                  <td class="tableSubText">0.100 ct</td>
                </tr>
                <tr>
                  <td class="tableSubText">IJ-SI</td>
                  <td class="tableSubText">Prong</td>
                  <td class="tableSubText">1</td>
                  <td class="tableSubText">0.300 ct</td>
                </tr>
                <tr>
                  <td class="tableSubText">IJ-SI</td>
                  <td class="tableSubText">Prong</td>
                  <td class="tableSubText">2</td>
                  <td class="tableSubText">0.700 ct</td>
                </tr>

              </tbody>

            </table>
          </section>




        </li>
      </ul>
    </div>

    <div class="imageGroup">
      <img src="../../../assets/product-page/Rectangle 3463920.jpg" alt="img1" srcset="" class="imageGroup1">
      <img src="../../../assets/product-page/Rectangle 3463919.jpg" alt="img 2" srcset="" class="imageGroup2">
    </div>
  </div>

</section>

<section class="priceBreakUp ">
  <div class="head">

    <h2>Price Breakup</h2>
    <p (click)="showPrice()" *ngIf="!hiddenPrice">Show more <img
        src="../../../assets/product-page/arrow-down-s-line.png" alt=""></p>

    <p (click)="showPrice()" *ngIf="hiddenPrice">Show less <img src="../../../assets/product-page/arrow-down.png"
        alt=""></p>


  </div>
  <div class="priceTable" *ngIf="hiddenPrice">
    <table class="uk-table">
      <thead>
        <tr class="bottomBorder">
          <th>COMPONENT</th>
          <th>RATE</th>
          <th>WEIGHT</th>
          <th>VALUE</th>
          <th>FINAL VALUE</th>
        </tr>
      </thead>
      <tbody>
        <p class="pinkSubText">Gold</p>
        <tr>
          <td>18KT Yellow Gold</td>
          <td>₹4,520 / g</td>
          <td>5.530 g</td>
          <td>₹24,996</td>
          <td>₹24,996</td>
        </tr>
        <tr>
          <td>Total Gold Value</td>
          <td>-</td>
          <td>-</td>
          <td>₹24,996</td>
          <td>₹24,996</td>
        </tr>

        <p class="pinkSubText">Diamond</p>
        <tr>
          <td>GH-SI Round-13 Nos.</td>
          <td>-</td>
          <td>0.070 ct</td>
          <td>₹9,380</td>
          <td>₹7,504 <small class="smallText">₹9,380</small></td>
        </tr>
        <tr>
          <td>Total Diamond Value</td>
          <td>-</td>
          <td>-</td>
          <td>₹9,380</td>
          <td>₹7,504 <small class="smallText">₹9,380</small></td>
        </tr>
        <tr class="bottomBorder">
          <td>Making Charges</td>
          <td>-</td>
          <td>-</td>
          <td>₹15,180</td>
          <td>₹15,180</td>
        </tr>
        <tr>
          <td>Subtotal</td>
          <td>-</td>
          <td>-</td>
          <td>₹49,556</td>
          <td>₹47,680 <small class="smallText">₹49,556</small></td>
        </tr>
        <tr>
          <td>Tax</td>
          <td>-</td>
          <td>-</td>
          <td>₹1,487</td>
          <td>₹1,430 <small class="smallText">₹1,487</small></td>
        </tr>
        <tr>
          <td>GRAND TOTAL</td>
          <td>-</td>
          <td>-</td>
          <td>₹51,043</td>
          <td>₹49,110
            <br>
            <small class="mrp">(MRP Incl. of all taxes)</small>
          </td>

        </tr>

      </tbody>

    </table>
  </div>


</section>