<!-- this page is applicable for mobile screen only -->

<div class="container">
    <p id="heading">
        Review Product
    </p>
    <app-mobile-review-widget></app-mobile-review-widget>
    <div class="write-review">
        <p id="heading">
            Write a Review
        </p>
        <textarea cols="25" rows="10" placeholder="Share your experience.."></textarea>
        <p id="small">Upload Photos Related to the product like unboxing,
            installation, Product Usage, etc.</p>
            <button><span uk-icon="camera"></span> Add a Photo</button>
    </div>
</div>
<!-- this page is applicable for mobile screen only -->
