


<div class="background">
   
</div>
<form>
    <h3>Login Here</h3>

    <label for="username">Email</label>
    <input type="text" placeholder="Email or Phone" id="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <button class="fp-btn">forgot Password ?</button>

    <button class="login-btn">Log In</button>
    <div class="social">
      <div class="gooogle-btn"><i class="fab fa-google"></i>Continue with Google </div>
      
    </div>

    <span> Don’t have account? <button class="signup-btn">Signup</button></span>
</form>