<div class="container">
    <div class="heading">
    <h2>Add Users</h2>
</div>
     <div class="main-container">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="Address">
        <input type="email" placeholder="Email Address">
        <input type="number" placeholder="Phone Number">
        <input type="text" placeholder="Country">
        <input type="text" placeholder="State">
        <input type="text" placeholder="City">
        <input type="number" placeholder="Total Wallet Amount">
        <input type="number" placeholder="Monthly Amount">

        <div class="main-btn">
            <button class="s-btn">Save</button>
            <button class="c-btn">Cancel</button>
        </div>
     </div>
    </div>
